@font-face {
   font-family: 'GothamMedium';
   font-display: swap;
   src: url('file:///C:/Users/Siddhesh%20Kulthe/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-12-02_185725/fonts/GothamMedium/font.ttf');
}
